body {
    margin: 0px; 
    overflow-x: hidden;
}

header { 
    height: 129px;
    background-color: #02367bff;
    padding: 2vw;
}

p {
    font-family: "Figtree", sans-serif;
}

li {
    font-family: "Fira Code";
}

h1, h2, h3 {
    font-family: "Libre Baskerville" serif;
}

.right-box {
    margin-top: 10px;
    color: white;
    text-align: center;
}

.right-box h2 {
    font-style: italic;
    color: rgb(198, 209, 174);
    font-size: clamp(18px, 6vw, 25px);
}

.image-triange {
    position:relative;
    height: 200px;
    top: 2vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.left-ribbon {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.right-paper {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.container-job {
    max-width: 450px;
}

main div {
    margin:10px;
}

main div h2 {
    margin-top: 70px;
    text-align: center;
}

.container-contacts {
    margin-top: 130px;
}

.box-footer-bottom {
    background-color: black;
    color: white;
}

footer {
    text-align: center;
}

footer p {
    margin: 0px;
    padding: 10px; 
}

footer button {
    margin-bottom: 20px;
}

.bottom-triangle {
    display: block;
    margin-bottom: -2px;
    width: 100%;
}

.button-to-top {
    position: relative;
    bottom: 2vw;
}

@media screen and (max-width: 226px) {
    header {
        height: 200px;
    }
}






/* Medium veiwport at 435px wide */

